p,
h1,
h2,
h3,
h4,
a,
td {
  font-family: sans-serif;
  color: #4a3a3a; }

a {
  cursor: pointer; }

.breadcrumbs {
  color: #ffffff;
  font-size: 10px;
  position: absolute;
  top: 131px;
  right: 5%; }
  @media screen and (min-width: 768px) {
    .breadcrumbs {
      top: 185px; } }
  @media screen and (min-width: 1025px) {
    .breadcrumbs {
      top: 220px;
      right: 10%; } }
  @media screen and (min-width: 1500px) {
    .breadcrumbs {
      top: 220px;
      right: 15%; } }
  .breadcrumbs a {
    color: #ffffff; }

.menu {
  width: 60px;
  height: 60px;
  background-color: #ffffff;
  top: 21px;
  right: 5%;
  z-index: 101;
  position: fixed; }
  @media screen and (min-width: 768px) {
    .menu {
      top: 45px; } }
  @media screen and (min-width: 1025px) {
    .menu {
      top: 80px;
      right: 10%; } }
  @media screen and (min-width: 1500px) {
    .menu {
      top: 80px;
      right: 15%; } }
  .menu .menu-button {
    position: relative;
    width: 44px;
    height: 32px;
    display: inline-block;
    margin: 13px 9px;
    transition: all .4s;
    box-sizing: border-box; }
    .menu .menu-button span {
      position: absolute;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #4a3a3a;
      transition: all .4s;
      box-sizing: border-box;
      display: inline-block; }
      .menu .menu-button span:nth-of-type(1) {
        top: 0; }
      .menu .menu-button span:nth-of-type(2) {
        top: 15px; }
      .menu .menu-button span:nth-of-type(3) {
        bottom: 0; }
  .menu .menu-button.active span:nth-of-type(1) {
    -webkit-transform: translateY(15px) rotate(-315deg);
    transform: translateY(15px) rotate(-315deg); }
  .menu .menu-button.active span:nth-of-type(2) {
    opacity: 0; }
  .menu .menu-button.active span:nth-of-type(3) {
    -webkit-transform: translateY(-15px) rotate(315deg);
    transform: translateY(-15px) rotate(315deg); }

.menu-after {
  background-color: #000000;
  width: 100vw;
  height: 100vh;
  transition: 0.4s;
  position: fixed;
  display: none;
  z-index: 100;
  opacity: 0.8;
  top: 0; }
  .menu-after a {
    text-align: center;
    display: block;
    font-size: 16px;
    color: #ffffff;
    margin: 0 0 50px;
    text-decoration: none; }
    .menu-after a:nth-of-type(1) {
      margin: 20vh 0 50px 0; }
      @media screen and (min-width: 768px) {
        .menu-after a:nth-of-type(1) {
          margin: 20vh 0 80px 0; } }
      @media screen and (min-width: 1025px) {
        .menu-after a:nth-of-type(1) {
          margin: 25vh 0 50px 0; } }
    @media screen and (min-width: 768px) {
      .menu-after a {
        font-size: 18px;
        margin: 0 0 80px; } }
    @media screen and (min-width: 1025px) {
      .menu-after a {
        font-size: 24px;
        margin: 0 0 50px; } }

.eyecatch {
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-size: cover;
  position: fixed;
  top: 0;
  background-image: url("img/eyecatch-m.png");
  z-index: -99; }
  @media screen and (min-width: 850px) {
    .eyecatch {
      background-image: url("img/eyecatch-l-m.png"); } }

.title-m {
  width: 100%;
  padding: 50px 0;
  background-color: #ffffff;
  margin: 64vh 0 0; }
  @media screen and (min-width: 350px) {
    .title-m {
      width: 90%;
      margin: 64vh auto 0; } }
  @media screen and (min-width: 768px) {
    .title-m {
      padding: 80px 0;
      margin: 77vh auto 0; } }
  @media screen and (min-width: 1025px) {
    .title-m {
      width: 80%; } }
  @media screen and (min-width: 1280px) {
    .title-m {
      margin: 60vh auto 0; } }
  @media screen and (min-width: 1500px) {
    .title-m {
      width: 70%; } }
  .title-m h1 {
    font-size: 85px;
    text-align: center;
    font-family: 'Poiret One',sans-serif;
    font-weight: normal; }
    @media screen and (min-width: 500px) {
      .title-m h1 {
        font-size: 100px; } }
    @media screen and (min-width: 767px) {
      .title-m h1 {
        font-size: 120px; } }
    @media screen and (min-width: 834px) {
      .title-m h1 {
        font-size: 146px; } }
    @media screen and (min-width: 1100px) {
      .title-m h1 {
        font-size: 174px; } }
  .title-m h2 {
    text-align: center;
    font-weight: lighter;
    font-size: 14px;
    line-height: 30px;
    font-family: 'Noto Sans JP', sans-serif; }
    @media screen and (min-width: 834px) {
      .title-m h2 {
        font-size: 24px; } }

.whats {
  width: 100%;
  padding: 50px 0;
  background-color: #3C0000; }
  @media screen and (min-width: 350px) {
    .whats {
      width: 90%;
      margin: 0 auto; } }
  @media screen and (min-width: 768px) {
    .whats {
      padding: 80px 0; } }
  @media screen and (min-width: 1025px) {
    .whats {
      width: 80%; } }
  @media screen and (min-width: 1500px) {
    .whats {
      width: 70%; } }
  .whats .whats-container {
    width: 90%;
    margin: 0 auto; }
    @media screen and (min-width: 1025px) {
      .whats .whats-container {
        width: 80%; } }
    .whats .whats-container h3 {
      font-size: 25px;
      color: #ffffff; }
      @media screen and (min-width: 767px) {
        .whats .whats-container h3 {
          font-size: 45px; } }
    .whats .whats-container .underline {
      background-color: #ffffff;
      width: 100%;
      height: 1px;
      margin: 5px 0 30px; }
      @media screen and (min-width: 767px) {
        .whats .whats-container .underline {
          margin: 0 0 45px; } }
      @media screen and (min-width: 767px) {
        .whats .whats-container .underline {
          margin: 0 0 0px; } }
    .whats .whats-container .what-display {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; }
      .whats .whats-container .what-display .display {
        width: 48%;
        margin-top: 21px; }
        @media screen and (min-width: 834px) {
          .whats .whats-container .what-display .display {
            margin-top: 45px;
            width: 24%; } }
        @media screen and (min-width: 1280px) {
          .whats .whats-container .what-display .display {
            margin-top: 65px; } }
        .whats .whats-container .what-display .display .display-picture {
          width: 100%;
          height: 144px;
          background-position: center;
          background-size: cover; }
          @media screen and (min-width: 414px) {
            .whats .whats-container .what-display .display .display-picture {
              height: 160px; } }
          @media screen and (min-width: 500px) {
            .whats .whats-container .what-display .display .display-picture {
              height: 200px; } }
          @media screen and (min-width: 650px) {
            .whats .whats-container .what-display .display .display-picture {
              height: 270px; } }
          @media screen and (min-width: 834px) {
            .whats .whats-container .what-display .display .display-picture {
              height: 154px; } }
          @media screen and (min-width: 1024px) {
            .whats .whats-container .what-display .display .display-picture {
              height: 180px; } }
          @media screen and (min-width: 1280px) {
            .whats .whats-container .what-display .display .display-picture {
              height: 230px; } }
        .whats .whats-container .what-display .display .display1-picture {
          background-image: url("img/d1.png"); }
        .whats .whats-container .what-display .display .display2-picture {
          background-image: url("img/d2.png"); }
        .whats .whats-container .what-display .display .display3-picture {
          background-image: url("img/d3.png"); }
        .whats .whats-container .what-display .display .display4-picture {
          background-image: url("img/d4.png"); }
        .whats .whats-container .what-display .display .display5-picture {
          background-image: url("img/d5.png"); }
        .whats .whats-container .what-display .display .display6-picture {
          background-image: url("img/d6.png"); }
        .whats .whats-container .what-display .display .display7-picture {
          background-image: url("img/d7.png"); }
        .whats .whats-container .what-display .display .display8-picture {
          background-image: url("img/d8.png"); }
        .whats .whats-container .what-display .display p {
          font-size: 14px;
          line-height: 26px;
          color: #ffffff;
          margin: 8px 0 0 0; }
          @media screen and (min-width: 834px) {
            .whats .whats-container .what-display .display p {
              margin: 21px 0 0;
              font-size: 18px;
              line-height: 36px; } }
          @media screen and (min-width: 1280px) {
            .whats .whats-container .what-display .display p {
              margin: 30px 0 0;
              font-size: 20px;
              line-height: 40px; } }

.why {
  width: 100%;
  padding: 50px 0;
  background-color: #ffffff; }
  @media screen and (min-width: 350px) {
    .why {
      width: 90%;
      margin: 0 auto; } }
  @media screen and (min-width: 768px) {
    .why {
      padding: 80px 0; } }
  @media screen and (min-width: 1025px) {
    .why {
      width: 80%; } }
  @media screen and (min-width: 1500px) {
    .why {
      width: 70%; } }
  .why .why-container {
    width: 90%;
    margin: 0 auto; }
    @media screen and (min-width: 1025px) {
      .why .why-container {
        width: 80%; } }
    .why .why-container h3 {
      font-size: 25px;
      color: #4a3a3a; }
      @media screen and (min-width: 767px) {
        .why .why-container h3 {
          font-size: 45px; } }
    .why .why-container .underline {
      background-color: #4a3a3a;
      width: 100%;
      height: 1px;
      margin: 5px 0 30px; }
      @media screen and (min-width: 767px) {
        .why .why-container .underline {
          margin: 0 0 45px; } }
      @media screen and (min-width: 767px) {
        .why .why-container .underline {
          margin: 0 0 0px; } }
    .why .why-container .why-p {
      font-size: 16px;
      margin: 21px 0 0 0;
      line-height: 26px; }
      @media screen and (min-width: 834px) {
        .why .why-container .why-p {
          font-size: 18px;
          margin: 45px 0 0 0;
          line-height: 36px; } }
      @media screen and (min-width: 1280px) {
        .why .why-container .why-p {
          font-size: 20px;
          margin: 65px 0 0 0;
          line-height: 40px; } }
    .why .why-container table {
      margin: 45px 0 0;
      width: 100%; }
      @media screen and (min-width: 1280px) {
        .why .why-container table {
          margin: 65px 0 0; } }
      .why .why-container table .c1 {
        width: 26.82%; }
        @media screen and (min-width: 834px) {
          .why .why-container table .c1 {
            width: 12%; } }
        @media screen and (min-width: 1280px) {
          .why .why-container table .c1 {
            width: 8%; } }
      .why .why-container table .c2,
      .why .why-container table .c3 {
        width: 36.59%; }
        @media screen and (min-width: 834px) {
          .why .why-container table .c2,
          .why .why-container table .c3 {
            width: 44%; } }
        @media screen and (min-width: 1280px) {
          .why .why-container table .c2,
          .why .why-container table .c3 {
            width: 46%; } }
      .why .why-container table .c1r1,
      .why .why-container table .c1r3 {
        background-color: #FAFAFA; }
      .why .why-container table .c1r2,
      .why .why-container table .c1r4 {
        background-color: #F4F4F4; }
      .why .why-container table .c2r1,
      .why .why-container table .c2r3 {
        background-color: #FFF2F2; }
      .why .why-container table .c2r2,
      .why .why-container table .c2r4 {
        background-color: #FFE3E3; }
      .why .why-container table .c3r1,
      .why .why-container table .c3r3 {
        background-color: #F7F8FF; }
      .why .why-container table .c3r2,
      .why .why-container table .c3r4 {
        background-color: #EBEEFF; }
      .why .why-container table td {
        padding: 10px; }
        .why .why-container table td i {
          font-size: 50px;
          display: block;
          text-align: center;
          line-height: 80px; }
          @media screen and (min-width: 834px) {
            .why .why-container table td i {
              font-size: 80px;
              line-height: 100px; } }
        .why .why-container table td .fa-circle {
          color: #FF2F2F; }
        .why .why-container table td .fa-times {
          color: #2C44FD; }
      .why .why-container table .c3r1 {
        line-height: 24px; }
      .why .why-container table .c2r1,
      .why .why-container table .c3r1,
      .why .why-container table .c1r2,
      .why .why-container table .c1r3,
      .why .why-container table .c1r4 {
        text-align: center;
        font-size: 14px;
        line-height: 24px; }
        @media screen and (min-width: 834px) {
          .why .why-container table .c2r1,
          .why .why-container table .c3r1,
          .why .why-container table .c1r2,
          .why .why-container table .c1r3,
          .why .why-container table .c1r4 {
            font-size: 18px;
            line-height: 36px; } }
        @media screen and (min-width: 1280px) {
          .why .why-container table .c2r1,
          .why .why-container table .c3r1,
          .why .why-container table .c1r2,
          .why .why-container table .c1r3,
          .why .why-container table .c1r4 {
            font-size: 20px;
            line-height: 40px; } }
      .why .why-container table .c2r2 p,
      .why .why-container table .c3r2 p,
      .why .why-container table .c2r3 p,
      .why .why-container table .c3r3 p,
      .why .why-container table .c2r4 p,
      .why .why-container table .c3r4 p {
        font-size: 12px;
        line-height: 20px; }
        @media screen and (min-width: 834px) {
          .why .why-container table .c2r2 p,
          .why .why-container table .c3r2 p,
          .why .why-container table .c2r3 p,
          .why .why-container table .c3r3 p,
          .why .why-container table .c2r4 p,
          .why .why-container table .c3r4 p {
            font-size: 16px;
            line-height: 26px; } }
        @media screen and (min-width: 1280px) {
          .why .why-container table .c2r2 p,
          .why .why-container table .c3r2 p,
          .why .why-container table .c2r3 p,
          .why .why-container table .c3r3 p,
          .why .why-container table .c2r4 p,
          .why .why-container table .c3r4 p {
            font-size: 18px;
            line-height: 36px; } }

.works {
  width: 100%;
  padding: 50px 0;
  background-color: #194800; }
  @media screen and (min-width: 350px) {
    .works {
      width: 90%;
      margin: 0 auto; } }
  @media screen and (min-width: 768px) {
    .works {
      padding: 80px 0; } }
  @media screen and (min-width: 1025px) {
    .works {
      width: 80%; } }
  @media screen and (min-width: 1500px) {
    .works {
      width: 70%; } }
  .works .works-container {
    width: 90%;
    margin: 0 auto; }
    @media screen and (min-width: 1025px) {
      .works .works-container {
        width: 80%; } }
    .works .works-container h3 {
      font-size: 25px;
      color: #ffffff; }
      @media screen and (min-width: 767px) {
        .works .works-container h3 {
          font-size: 45px; } }
    .works .works-container .underline {
      background-color: #ffffff;
      width: 100%;
      height: 1px;
      margin: 5px 0 30px; }
      @media screen and (min-width: 767px) {
        .works .works-container .underline {
          margin: 0 0 45px; } }
      @media screen and (min-width: 1280px) {
        .works .works-container .underline {
          margin-bottom: 65px; } }
    .works .works-container h4 {
      font-size: 18px;
      color: #ffffff;
      font-weight: normal;
      margin-bottom: 10px; }
      @media screen and (min-width: 834px) {
        .works .works-container h4 {
          margin-bottom: 21px;
          font-size: 24px; } }
      @media screen and (min-width: 1280px) {
        .works .works-container h4 {
          margin-bottom: 30px;
          font-size: 32px; } }
    .works .works-container p {
      font-size: 12px;
      line-height: 20px;
      color: #ffffff; }
      @media screen and (min-width: 834px) {
        .works .works-container p {
          line-height: 26px;
          font-size: 14px; } }
      @media screen and (min-width: 1280px) {
        .works .works-container p {
          line-height: 36px;
          font-size: 18px; } }
    .works .works-container .work-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; }
      .works .works-container .work-container .work {
        width: 100%;
        margin: 21px 0 0; }
        @media screen and (min-width: 834px) {
          .works .works-container .work-container .work {
            margin: 45px 0 0;
            width: 48%; } }
        @media screen and (min-width: 1280px) {
          .works .works-container .work-container .work {
            margin: 65px 0 0; } }
        .works .works-container .work-container .work iframe {
          width: 100%;
          margin: 0 0 8px 0; }
          @media screen and (min-width: 414px) {
            .works .works-container .work-container .work iframe {
              height: 200px; } }
          @media screen and (min-width: 500px) {
            .works .works-container .work-container .work iframe {
              height: 260px; } }
          @media screen and (min-width: 650px) {
            .works .works-container .work-container .work iframe {
              height: 320px; } }
          @media screen and (min-width: 834px) {
            .works .works-container .work-container .work iframe {
              height: 200px;
              margin: 0 0 21px 0; } }
          @media screen and (min-width: 1280px) {
            .works .works-container .work-container .work iframe {
              height: 300px;
              margin: 0 0 30px 0; } }
        .works .works-container .work-container .work p {
          font-size: 16px;
          line-height: 26px;
          text-align: center; }
          @media screen and (min-width: 834px) {
            .works .works-container .work-container .work p {
              font-size: 18px;
              line-height: 36px; } }
          @media screen and (min-width: 1280px) {
            .works .works-container .work-container .work p {
              font-size: 24px;
              line-height: 48px; } }

.plan {
  width: 100%;
  padding: 50px 0;
  background-color: #ffffff; }
  @media screen and (min-width: 350px) {
    .plan {
      width: 90%;
      margin: 0 auto; } }
  @media screen and (min-width: 768px) {
    .plan {
      padding: 80px 0; } }
  @media screen and (min-width: 1025px) {
    .plan {
      width: 80%; } }
  @media screen and (min-width: 1500px) {
    .plan {
      width: 70%; } }
  .plan .plan-container {
    width: 90%;
    margin: 0 auto; }
    @media screen and (min-width: 1025px) {
      .plan .plan-container {
        width: 80%; } }
    .plan .plan-container h3 {
      font-size: 25px;
      color: #4a3a3a; }
      @media screen and (min-width: 767px) {
        .plan .plan-container h3 {
          font-size: 45px; } }
    .plan .plan-container .underline {
      background-color: #4a3a3a;
      width: 100%;
      height: 1px;
      margin: 5px 0 30px; }
      @media screen and (min-width: 767px) {
        .plan .plan-container .underline {
          margin: 0 0 45px; } }
      @media screen and (min-width: 1280px) {
        .plan .plan-container .underline {
          margin-bottom: 65px; } }
    .plan .plan-container p {
      font-size: 18px;
      color: #4a3a3a;
      font-weight: normal;
      margin-bottom: 10px;
      line-height: 32px; }
      @media screen and (min-width: 834px) {
        .plan .plan-container p {
          font-size: 24px; } }
      @media screen and (min-width: 1280px) {
        .plan .plan-container p {
          font-size: 32px; } }
    .plan .plan-container .movie-price-all {
      background-color: #FFF1E0;
      width: 100%;
      height: 62px;
      margin: 21px 0 0; }
      @media screen and (min-width: 834px) {
        .plan .plan-container .movie-price-all {
          height: 77px;
          margin: 45px 0 0; } }
      @media screen and (min-width: 1280px) {
        .plan .plan-container .movie-price-all {
          height: 100px;
          margin: 65px 0 0; } }
      .plan .plan-container .movie-price-all p {
        font-size: 18px;
        text-align: center;
        line-height: 62px; }
        @media screen and (min-width: 834px) {
          .plan .plan-container .movie-price-all p {
            line-height: 77px;
            font-size: 24px; } }
        @media screen and (min-width: 1280px) {
          .plan .plan-container .movie-price-all p {
            line-height: 100px;
            font-size: 32px; } }
    .plan .plan-container .equal {
      background-image: url("img/equal.png");
      background-size: cover;
      background-position: center;
      width: 30px;
      height: 30px;
      margin: 16px auto; }
      @media screen and (min-width: 834px) {
        .plan .plan-container .equal {
          width: 50px;
          height: 50px;
          margin: 21px auto; } }
      @media screen and (min-width: 1280px) {
        .plan .plan-container .equal {
          width: 70px;
          height: 70px;
          margin: 30px auto; } }
    .plan .plan-container .movie-price-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; }
    .plan .plan-container .movie-price1 {
      background-color: #FFF4F9; }
    .plan .plan-container .movie-price2 {
      background-color: #FFFFF3; }
    .plan .plan-container .movie-price3 {
      background-color: #F3FFF3; }
    .plan .plan-container .movie-price4 {
      background-color: #F3FFFF; }
    .plan .plan-container .movie-price {
      width: 100%;
      height: 250px; }
      @media screen and (min-width: 834px) {
        .plan .plan-container .movie-price {
          width: 50%;
          height: 360px; } }
      @media screen and (min-width: 1280px) {
        .plan .plan-container .movie-price {
          height: 450px; } }
      .plan .plan-container .movie-price .movie-price-title {
        font-size: 18px;
        text-align: center;
        padding: 30px 0 0; }
        @media screen and (min-width: 834px) {
          .plan .plan-container .movie-price .movie-price-title {
            font-size: 24px; } }
        @media screen and (min-width: 1280px) {
          .plan .plan-container .movie-price .movie-price-title {
            font-size: 32px;
            padding: 60px 0 0; } }
      .plan .plan-container .movie-price .movie-price-detail1 {
        font-size: 16px;
        margin: 12px auto 0;
        width: 90%; }
        @media screen and (min-width: 834px) {
          .plan .plan-container .movie-price .movie-price-detail1 {
            font-size: 18px;
            margin: 45px auto 0; } }
        @media screen and (min-width: 1280px) {
          .plan .plan-container .movie-price .movie-price-detail1 {
            font-size: 20px;
            margin: 65px auto 0;
            width: 80%; } }
      .plan .plan-container .movie-price .movie-price-detail2 {
        margin: 12px auto 0;
        width: 90%;
        font-size: 14px;
        line-height: 26px; }
        @media screen and (min-width: 834px) {
          .plan .plan-container .movie-price .movie-price-detail2 {
            font-size: 18px;
            margin: 45px auto 0;
            line-height: 36px; } }
        @media screen and (min-width: 1280px) {
          .plan .plan-container .movie-price .movie-price-detail2 {
            font-size: 20px;
            margin: 65px auto 0;
            line-height: 40px;
            width: 80%; } }
    .plan .plan-container .more-button {
      width: 140px;
      height: 34px;
      border-radius: 17px;
      margin: 21px auto 0px;
      background-color: #F8B869; }
      @media screen and (min-width: 500px) {
        .plan .plan-container .more-button {
          width: 170px;
          height: 40px;
          border-radius: 20px;
          margin: 40px auto 0; } }
      @media screen and (min-width: 767px) {
        .plan .plan-container .more-button {
          width: 200px;
          height: 50px;
          border-radius: 25px;
          margin: 50px auto 0; } }
      .plan .plan-container .more-button a {
        display: block;
        line-height: 34px;
        text-align: center;
        text-decoration: none;
        color: #ffffff; }
        @media screen and (min-width: 500px) {
          .plan .plan-container .more-button a {
            line-height: 40px;
            font-size: 18px; } }
        @media screen and (min-width: 767px) {
          .plan .plan-container .more-button a {
            line-height: 50px;
            font-size: 20px; } }

.order-flow {
  width: 100%;
  background-color: #380000;
  padding: 50px 0; }
  @media screen and (min-width: 350px) {
    .order-flow {
      width: 90%;
      margin: 0 auto; } }
  @media screen and (min-width: 768px) {
    .order-flow {
      padding: 80px 0; } }
  @media screen and (min-width: 1025px) {
    .order-flow {
      width: 80%; } }
  @media screen and (min-width: 1500px) {
    .order-flow {
      width: 70%; } }
  .order-flow .order-flow-container {
    width: 90%;
    margin: 0 auto; }
    @media screen and (min-width: 1025px) {
      .order-flow .order-flow-container {
        width: 80%; } }
    .order-flow .order-flow-container h3 {
      font-size: 25px;
      color: #ffffff; }
      @media screen and (min-width: 767px) {
        .order-flow .order-flow-container h3 {
          font-size: 45px; } }
    .order-flow .order-flow-container .underline {
      background-color: #ffffff;
      width: 100%;
      height: 1px;
      margin: 5px 0 30px; }
      @media screen and (min-width: 767px) {
        .order-flow .order-flow-container .underline {
          margin: 0 0 45px; } }
      @media screen and (min-width: 1280px) {
        .order-flow .order-flow-container .underline {
          margin: 0px 0 65px; } }
    .order-flow .order-flow-container i {
      font-size: 40px;
      color: #ffffff;
      margin: 0 auto; }
    .order-flow .order-flow-container .under-go {
      width: 0px;
      margin: 10px auto;
      border-left: 40px solid transparent;
      border-right: 40px solid transparent;
      border-top: 10px solid #ffffff; }
    .order-flow .order-flow-container .process {
      width: 100%;
      height: 80px;
      background-color: #ffffff; }
      @media screen and (min-width: 834px) {
        .order-flow .order-flow-container .process {
          height: 120px; } }
      .order-flow .order-flow-container .process p {
        text-align: center;
        font-size: 18px;
        line-height: 80px; }
        .order-flow .order-flow-container .process p:nth-of-type(2) {
          text-align: center;
          font-size: 12px;
          padding: 0;
          width: 90%;
          margin: 10px auto 0; }
          @media screen and (min-width: 834px) {
            .order-flow .order-flow-container .process p:nth-of-type(2) {
              font-size: 16px; } }
        @media screen and (min-width: 600px) {
          .order-flow .order-flow-container .process p {
            font-size: 20px; } }
        @media screen and (min-width: 834px) {
          .order-flow .order-flow-container .process p {
            font-size: 28px;
            padding: 32px 0 0; } }
        @media screen and (min-width: 1280px) {
          .order-flow .order-flow-container .process p {
            font-size: 32px; } }
    .order-flow .order-flow-container .processA p {
      line-height: 80px;
      padding: 0; }
      @media screen and (min-width: 834px) {
        .order-flow .order-flow-container .processA p {
          line-height: 120px; } }
  .order-flow .more-button {
    width: 140px;
    height: 34px;
    border-radius: 17px;
    margin: 21px auto 0px;
    background-color: #F8B869; }
    @media screen and (min-width: 500px) {
      .order-flow .more-button {
        width: 170px;
        height: 40px;
        border-radius: 20px;
        margin: 40px auto 0; } }
    @media screen and (min-width: 767px) {
      .order-flow .more-button {
        width: 200px;
        height: 50px;
        border-radius: 25px;
        margin: 50px auto 0; } }
    .order-flow .more-button a {
      display: block;
      line-height: 34px;
      text-align: center;
      text-decoration: none;
      color: #ffffff; }
      @media screen and (min-width: 500px) {
        .order-flow .more-button a {
          line-height: 40px;
          font-size: 18px; } }
      @media screen and (min-width: 767px) {
        .order-flow .more-button a {
          line-height: 50px;
          font-size: 20px; } }

.contact {
  width: 100%;
  background-color: #003C09;
  padding: 50px 0; }
  @media screen and (min-width: 350px) {
    .contact {
      width: 90%;
      margin: 0px auto 0; } }
  @media screen and (min-width: 768px) {
    .contact {
      padding: 80px 0; } }
  @media screen and (min-width: 1025px) {
    .contact {
      width: 80%; } }
  @media screen and (min-width: 1500px) {
    .contact {
      width: 70%; } }
  .contact .contact-container {
    width: 90%;
    margin: 0 auto; }
    @media screen and (min-width: 1025px) {
      .contact .contact-container {
        width: 80%; } }
    .contact .contact-container h3 {
      font-size: 25px;
      color: #ffffff; }
      @media screen and (min-width: 767px) {
        .contact .contact-container h3 {
          font-size: 45px; } }
    .contact .contact-container .underline {
      background-color: #ffffff;
      width: 100%;
      height: 1px;
      margin: 5px 0 30px; }
      @media screen and (min-width: 767px) {
        .contact .contact-container .underline {
          margin: 0 0 45px; } }
      @media screen and (min-width: 1280px) {
        .contact .contact-container .underline {
          margin: 5px 0 64px; } }
    .contact .contact-container p {
      color: #ffffff;
      line-height: 26px; }
      @media screen and (min-width: 500px) {
        .contact .contact-container p {
          line-height: 30px; } }
    .contact .contact-container .contact-p-1,
    .contact .contact-container .contact-p-3 {
      font-size: 18px; }
      @media screen and (min-width: 500px) {
        .contact .contact-container .contact-p-1,
        .contact .contact-container .contact-p-3 {
          font-size: 20px; } }
      @media screen and (min-width: 834px) {
        .contact .contact-container .contact-p-1,
        .contact .contact-container .contact-p-3 {
          font-size: 24px;
          line-height: 40px; } }
      @media screen and (min-width: 1280px) {
        .contact .contact-container .contact-p-1,
        .contact .contact-container .contact-p-3 {
          line-height: 60px;
          font-size: 32px; } }
    .contact .contact-container .contact-p-2,
    .contact .contact-container .contact-p-4,
    .contact .contact-container .contact-p-5,
    .contact .contact-container .contact-p-6,
    .contact .contact-container .contact-p-7 {
      font-size: 14px; }
      @media screen and (min-width: 500px) {
        .contact .contact-container .contact-p-2,
        .contact .contact-container .contact-p-4,
        .contact .contact-container .contact-p-5,
        .contact .contact-container .contact-p-6,
        .contact .contact-container .contact-p-7 {
          font-size: 16px; } }
      @media screen and (min-width: 834px) {
        .contact .contact-container .contact-p-2,
        .contact .contact-container .contact-p-4,
        .contact .contact-container .contact-p-5,
        .contact .contact-container .contact-p-6,
        .contact .contact-container .contact-p-7 {
          font-size: 20px;
          line-height: 40px; } }
    @media screen and (min-width: 1280px) {
      .contact .contact-container .contact-p-5,
      .contact .contact-container .contact-p-6,
      .contact .contact-container .contact-p-7 {
        font-size: 24px; } }
    .contact .contact-container .contact-p-1 {
      margin: 0 0 15px 0; }
    .contact .contact-container .contact-p-2 {
      margin: 0 0 25px 0; }
    .contact .contact-container .line-add,
    .contact .contact-container .mail-send {
      width: 100%;
      height: 50px;
      cursor: pointer; }
      @media screen and (min-width: 800px) {
        .contact .contact-container .line-add,
        .contact .contact-container .mail-send {
          width: 48%; } }
      .contact .contact-container .line-add p,
      .contact .contact-container .mail-send p {
        font-size: 16px;
        line-height: 50px;
        text-align: center; }
        @media screen and (min-width: 500px) {
          .contact .contact-container .line-add p,
          .contact .contact-container .mail-send p {
            font-size: 20px; } }
        @media screen and (min-width: 800px) {
          .contact .contact-container .line-add p,
          .contact .contact-container .mail-send p {
            font-size: 16px; } }
        @media screen and (min-width: 1280px) {
          .contact .contact-container .line-add p,
          .contact .contact-container .mail-send p {
            font-size: 20px; } }
      .contact .contact-container .line-add a,
      .contact .contact-container .mail-send a {
        font-size: 16px;
        line-height: 50px;
        text-align: center;
        color: #ffffff;
        display: block;
        text-decoration: none; }
        @media screen and (min-width: 500px) {
          .contact .contact-container .line-add a,
          .contact .contact-container .mail-send a {
            font-size: 20px; } }
        @media screen and (min-width: 800px) {
          .contact .contact-container .line-add a,
          .contact .contact-container .mail-send a {
            font-size: 16px; } }
        @media screen and (min-width: 1280px) {
          .contact .contact-container .line-add a,
          .contact .contact-container .mail-send a {
            font-size: 20px; } }
    .contact .contact-container .line-add {
      background-color: #04C300;
      margin: 0 0 15px 0; }
    .contact .contact-container .mail-send {
      background-color: #66CCFF;
      margin: 0 0 35px 0; }
    @media screen and (min-width: 800px) {
      .contact .contact-container .contact-add {
        display: flex;
        justify-content: space-between; } }
    .contact .contact-container .contact-p-3 {
      margin: 0 0 15px 0; }
    .contact .contact-container .contact-p-4 {
      margin: 0 0 25px 0; }
    .contact .contact-container textarea {
      width: 100%; }
    .contact .contact-container .send-button {
      width: 100px;
      height: 30px;
      border: 1px #ffffff solid;
      border-radius: 15px;
      margin: 20px 0 0 auto;
      background-color: #ffffff;
      transition: 0.2s; }
      .contact .contact-container .send-button a {
        font-family: 'Noto Serif JP', serif;
        color: #4a3a3a;
        display: block;
        line-height: 30px;
        text-align: center;
        text-decoration: none; }
        @media screen and (min-width: 500px) {
          .contact .contact-container .send-button a {
            font-size: 20px; } }
      @media screen and (min-width: 834px) {
        .contact .contact-container .send-button {
          width: 140px;
          height: 40px;
          border-radius: 20px;
          font-size: 24px;
          line-height: 40px; } }
    .contact .contact-container .send-button:hover {
      transition: 0.2s;
      opacity: 0.7; }

.footer {
  width: 100%;
  padding: 50px 0 8px;
  background-color: #ffffff; }
  @media screen and (min-width: 350px) {
    .footer {
      margin: 50px 0 0; } }
  @media screen and (min-width: 768px) {
    .footer {
      padding: 80px 0; } }
  .footer .HereIsHomepage {
    width: 90%;
    height: 60px; }
    @media screen and (min-width: 1025px) {
      .footer .HereIsHomepage {
        width: 80%; } }
    @media screen and (min-width: 834px) {
      .footer .HereIsHomepage {
        height: 100px; } }
    @media screen and (min-width: 1280px) {
      .footer .HereIsHomepage {
        height: 140px; } }
    .footer .HereIsHomepage .HomepageBack {
      width: 90%;
      height: 60px;
      margin: 0 auto;
      background-image: url("img/homepage.jpg");
      background-size: cover;
      background-position: center; }
      @media screen and (min-width: 834px) {
        .footer .HereIsHomepage .HomepageBack {
          height: 100px; } }
      @media screen and (min-width: 1025px) {
        .footer .HereIsHomepage .HomepageBack {
          width: 80%; } }
      @media screen and (min-width: 1280px) {
        .footer .HereIsHomepage .HomepageBack {
          height: 140px; } }
      @media screen and (min-width: 1500px) {
        .footer .HereIsHomepage .HomepageBack {
          width: 70%; } }
      .footer .HereIsHomepage .HomepageBack p {
        text-align: center;
        font-size: 14px;
        color: #ffffff;
        line-height: 60px;
        margin-top: 0; }
        @media screen and (min-width: 834px) {
          .footer .HereIsHomepage .HomepageBack p {
            line-height: 100px;
            font-size: 24px; } }
        @media screen and (min-width: 1280px) {
          .footer .HereIsHomepage .HomepageBack p {
            line-height: 140px;
            font-size: 32px; } }
  .footer p {
    font-size: 8px;
    width: 90%;
    margin: 21px auto 0;
    text-align: center; }

.eyecatch h1 {
  font-size: 29px;
  position: absolute;
  top: 20px;
  left: 5%;
  color: #ffffff;
  position: fixed;
  z-index: -97; }
  @media screen and (min-width: 360px) {
    .eyecatch h1 {
      font-size: 36px; } }
  @media screen and (min-width: 768px) {
    .eyecatch h1 {
      font-size: 45px;
      top: 50px; } }
  @media screen and (min-width: 1025px) {
    .eyecatch h1 {
      left: 10%;
      top: 80px; } }
  @media screen and (min-width: 1500px) {
    .eyecatch h1 {
      left: 15%; } }

.orderflow-m {
  background-color: #ffffff;
  width: 100%;
  margin: 64vh 0 0;
  padding: 50px 0; }
  @media screen and (min-width: 350px) {
    .orderflow-m {
      width: 90%;
      margin: 64vh auto 0; } }
  @media screen and (min-width: 768px) {
    .orderflow-m {
      padding: 80px 0;
      margin: 77vh auto 0; } }
  @media screen and (min-width: 1025px) {
    .orderflow-m {
      width: 80%; } }
  @media screen and (min-width: 1280px) {
    .orderflow-m {
      margin: 60vh auto 0; } }
  @media screen and (min-width: 1500px) {
    .orderflow-m {
      width: 70%; } }
  .orderflow-m .orderflow-m-container {
    width: 90%;
    margin: 0 auto; }
    @media screen and (min-width: 768px) {
      .orderflow-m .orderflow-m-container {
        padding: 0px 5%; } }
    @media screen and (min-width: 1025px) {
      .orderflow-m .orderflow-m-container {
        padding: 0px 10%;
        width: 80%; } }
    .orderflow-m .orderflow-m-container p {
      font-size: 16px;
      line-height: 26px; }
      @media screen and (min-width: 768px) {
        .orderflow-m .orderflow-m-container p {
          font-size: 20px;
          line-height: 35px; } }
    .orderflow-m .orderflow-m-container .stprA {
      font-size: 16px;
      line-height: 26px; }
      @media screen and (min-width: 768px) {
        .orderflow-m .orderflow-m-container .stprA {
          font-size: 24px;
          line-height: 40px; } }
    .orderflow-m .orderflow-m-container .stprC {
      font-size: 16px;
      line-height: 30px;
      margin: 21px 0; }
      @media screen and (min-width: 768px) {
        .orderflow-m .orderflow-m-container .stprC {
          font-size: 24px;
          line-height: 40px;
          margin: 45px 0; } }
    .orderflow-m .orderflow-m-container .attention-m {
      font-size: 14px;
      line-height: 24px; }
      @media screen and (min-width: 768px) {
        .orderflow-m .orderflow-m-container .attention-m {
          font-size: 16px;
          line-height: 26px; } }
    .orderflow-m .orderflow-m-container .under-go {
      width: 0px;
      margin: 10px auto;
      border-left: 40px solid transparent;
      border-right: 40px solid transparent;
      border-top: 10px solid #ff8c00; }
    .orderflow-m .orderflow-m-container .process {
      width: 100%;
      height: 140px;
      background-color: #FFF1E0; }
      @media screen and (min-width: 414px) {
        .orderflow-m .orderflow-m-container .process {
          height: 150px; } }
      @media screen and (min-width: 1280px) {
        .orderflow-m .orderflow-m-container .process {
          height: 190px; } }
      .orderflow-m .orderflow-m-container .process .process-p1 {
        text-align: center;
        font-size: 18px;
        line-height: 30px;
        padding: 21px 0 0; }
        @media screen and (min-width: 768px) {
          .orderflow-m .orderflow-m-container .process .process-p1 {
            font-size: 24px;
            line-height: 48px; } }
      .orderflow-m .orderflow-m-container .process .process-p2 {
        font-size: 14px;
        line-height: 24px;
        width: 90%;
        margin: 8px auto; }
        @media screen and (min-width: 768px) {
          .orderflow-m .orderflow-m-container .process .process-p2 {
            font-size: 16px;
            line-height: 26px;
            margin: 15px auto; } }
    .orderflow-m .orderflow-m-container h2 {
      font-size: 18px;
      text-align: center;
      line-height: 30px;
      margin: 21px 0; }
      @media screen and (min-width: 768px) {
        .orderflow-m .orderflow-m-container h2 {
          font-size: 24px;
          line-height: 48px;
          margin: 45px 0; } }
    .orderflow-m .orderflow-m-container textarea {
      width: 80%; }
    .orderflow-m .orderflow-m-container .send-button {
      width: 100px;
      height: 30px;
      border: 1px #4a3a3a solid;
      border-radius: 15px;
      margin: 10px 0;
      background-color: #ffffff;
      transition: 0.2s;
      font-family: sans-serif;
      color: #4a3a3a;
      display: block;
      line-height: 30px;
      text-align: center;
      text-decoration: none; }
      @media screen and (min-width: 500px) {
        .orderflow-m .orderflow-m-container .send-button {
          font-size: 20px; } }
      @media screen and (min-width: 834px) {
        .orderflow-m .orderflow-m-container .send-button {
          width: 140px;
          height: 40px;
          border-radius: 20px;
          font-size: 24px;
          line-height: 40px; } }
    .orderflow-m .orderflow-m-container .send-button:hover {
      transition: 0.2s;
      opacity: 0.7; }
    .orderflow-m .orderflow-m-container .wpcf7-mail-sent-ok,
    .orderflow-m .orderflow-m-container .wpcf7-mail-sent-ng,
    .orderflow-m .orderflow-m-container .wpcf7-spam-blocked,
    .orderflow-m .orderflow-m-container .wpcf7-validation-errors {
      color: red;
      font-family: 'Noto Serif JP', serif;
      font-size: 20px;
      border: none; }
    .orderflow-m .orderflow-m-container .more-button {
      width: 140px;
      height: 34px;
      border-radius: 17px;
      margin: 21px auto 0px;
      background-color: #F8B869;
      width: 170px;
      margin: 40px auto 0; }
      @media screen and (min-width: 500px) {
        .orderflow-m .orderflow-m-container .more-button {
          width: 200px;
          height: 40px;
          border-radius: 20px;
          margin: 40px auto 0; } }
      @media screen and (min-width: 768px) {
        .orderflow-m .orderflow-m-container .more-button {
          width: 240px;
          height: 50px;
          border-radius: 25px;
          margin: 50px auto 0; } }
      .orderflow-m .orderflow-m-container .more-button a {
        display: block;
        line-height: 34px;
        text-align: center;
        text-decoration: none;
        color: #ffffff; }
        @media screen and (min-width: 500px) {
          .orderflow-m .orderflow-m-container .more-button a {
            line-height: 40px;
            font-size: 18px; } }
        @media screen and (min-width: 767px) {
          .orderflow-m .orderflow-m-container .more-button a {
            line-height: 50px;
            font-size: 20px; } }

.plan-m {
  background-color: #ffffff;
  width: 100%;
  margin: 64vh 0 0;
  padding: 50px 0; }
  @media screen and (min-width: 350px) {
    .plan-m {
      width: 90%;
      margin: 64vh auto 0; } }
  @media screen and (min-width: 768px) {
    .plan-m {
      padding: 80px 0; } }
  @media screen and (min-width: 1025px) {
    .plan-m {
      width: 80%; } }
  @media screen and (min-width: 1500px) {
    .plan-m {
      width: 70%; } }
  .plan-m .plan-m-container {
    width: 90%;
    margin: 0 auto; }
    @media screen and (min-width: 1025px) {
      .plan-m .plan-m-container {
        width: 80%; } }
    .plan-m .plan-m-container .plan-eyecatch {
      background-image: url("img/corporate.jpg");
      width: 100%;
      height: 200px;
      background-size: cover;
      background-position: center; }
      @media screen and (min-width: 680px) {
        .plan-m .plan-m-container .plan-eyecatch {
          height: 300px; } }
      @media screen and (min-width: 768px) {
        .plan-m .plan-m-container .plan-eyecatch {
          height: 400px; } }
    .plan-m .plan-m-container .plan-intro1 {
      font-size: 18px;
      margin: 21px auto;
      line-height: 36px;
      color: #4a3a3a; }
      @media screen and (min-width: 768px) {
        .plan-m .plan-m-container .plan-intro1 {
          margin: 45px auto 21px;
          font-size: 24px; } }
    .plan-m .plan-m-container .plan-intro2 {
      font-size: 14px;
      margin: 0 auto;
      line-height: 26px; }
      @media screen and (min-width: 768px) {
        .plan-m .plan-m-container .plan-intro2 {
          font-size: 18px;
          line-height: 36px; } }
    .plan-m .plan-m-container h2 {
      text-align: center;
      margin: 21px 0;
      font-size: 18px; }
      @media screen and (min-width: 768px) {
        .plan-m .plan-m-container h2 {
          margin: 45px 0;
          font-size: 24px; } }
    .plan-m .plan-m-container .plan1,
    .plan-m .plan-m-container .plan2,
    .plan-m .plan-m-container .plan3,
    .plan-m .plan-m-container .plan4 {
      padding: 21px 5%;
      margin: 50px 0 0; }
      @media screen and (min-width: 768px) {
        .plan-m .plan-m-container .plan1,
        .plan-m .plan-m-container .plan2,
        .plan-m .plan-m-container .plan3,
        .plan-m .plan-m-container .plan4 {
          padding: 45px 5%;
          margin: 80px 0 0; } }
      .plan-m .plan-m-container .plan1 h3,
      .plan-m .plan-m-container .plan2 h3,
      .plan-m .plan-m-container .plan3 h3,
      .plan-m .plan-m-container .plan4 h3 {
        text-align: center;
        margin: 0 0 21px;
        font-size: 18px;
        font-weight: normal; }
        @media screen and (min-width: 768px) {
          .plan-m .plan-m-container .plan1 h3,
          .plan-m .plan-m-container .plan2 h3,
          .plan-m .plan-m-container .plan3 h3,
          .plan-m .plan-m-container .plan4 h3 {
            font-size: 24px;
            margin: 0 0 45px; } }
      .plan-m .plan-m-container .plan1 .plan-p1,
      .plan-m .plan-m-container .plan1 .plan-p2,
      .plan-m .plan-m-container .plan2 .plan-p1,
      .plan-m .plan-m-container .plan2 .plan-p2,
      .plan-m .plan-m-container .plan3 .plan-p1,
      .plan-m .plan-m-container .plan3 .plan-p2,
      .plan-m .plan-m-container .plan4 .plan-p1,
      .plan-m .plan-m-container .plan4 .plan-p2 {
        font-size: 14px;
        line-height: 24px; }
        @media screen and (min-width: 768px) {
          .plan-m .plan-m-container .plan1 .plan-p1,
          .plan-m .plan-m-container .plan1 .plan-p2,
          .plan-m .plan-m-container .plan2 .plan-p1,
          .plan-m .plan-m-container .plan2 .plan-p2,
          .plan-m .plan-m-container .plan3 .plan-p1,
          .plan-m .plan-m-container .plan3 .plan-p2,
          .plan-m .plan-m-container .plan4 .plan-p1,
          .plan-m .plan-m-container .plan4 .plan-p2 {
            font-size: 18px;
            line-height: 36px; } }
      .plan-m .plan-m-container .plan1 .plan-p1,
      .plan-m .plan-m-container .plan2 .plan-p1,
      .plan-m .plan-m-container .plan3 .plan-p1,
      .plan-m .plan-m-container .plan4 .plan-p1 {
        margin: 0 0 21px; }
        @media screen and (min-width: 768px) {
          .plan-m .plan-m-container .plan1 .plan-p1,
          .plan-m .plan-m-container .plan2 .plan-p1,
          .plan-m .plan-m-container .plan3 .plan-p1,
          .plan-m .plan-m-container .plan4 .plan-p1 {
            margin: 0 0 45px; } }
    .plan-m .plan-m-container .plan1 {
      background-color: #FFF4F9;
      margin: 21px 0 0; }
      @media screen and (min-width: 768px) {
        .plan-m .plan-m-container .plan1 {
          margin: 45px 0 0; } }
    .plan-m .plan-m-container .plan-kind-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; }
    .plan-m .plan-m-container .plan-kind {
      margin: 21px 0;
      width: 100%; }
      @media screen and (min-width: 768px) {
        .plan-m .plan-m-container .plan-kind {
          margin: 45px 0;
          width: 48%; } }
      .plan-m .plan-m-container .plan-kind .plan-pic {
        width: 100%;
        height: 300px;
        background-position: center;
        background-size: cover;
        margin: 0 0 21px; }
        @media screen and (min-width: 680px) {
          .plan-m .plan-m-container .plan-kind .plan-pic {
            height: 380px; } }
        @media screen and (min-width: 768px) {
          .plan-m .plan-m-container .plan-kind .plan-pic {
            margin: 0 0 45px;
            height: 300px; } }
      .plan-m .plan-m-container .plan-kind h4 {
        text-align: center;
        margin: 0 0 21px;
        font-size: 18px;
        font-weight: normal; }
        @media screen and (min-width: 768px) {
          .plan-m .plan-m-container .plan-kind h4 {
            font-size: 24px;
            margin: 0 0 45px; } }
        @media screen and (min-width: 1280px) {
          .plan-m .plan-m-container .plan-kind h4 {
            font-size: 32px; } }
      .plan-m .plan-m-container .plan-kind .plan-desc1 {
        font-size: 16px;
        line-height: 26px;
        margin: 0 0 21px; }
        @media screen and (min-width: 768px) {
          .plan-m .plan-m-container .plan-kind .plan-desc1 {
            font-size: 18px;
            line-height: 36px;
            margin: 0 0 45px; } }
      .plan-m .plan-m-container .plan-kind .plan-desc2 {
        font-size: 14px;
        line-height: 26px; }
        @media screen and (min-width: 768px) {
          .plan-m .plan-m-container .plan-kind .plan-desc2 {
            font-size: 16px;
            line-height: 26px; } }
    .plan-m .plan-m-container .plan1-basic-pic {
      background-image: url("img/plan1-basic.png"); }
    .plan-m .plan-m-container .plan1-sta-pic {
      background-image: url("img/plan1-sta.png"); }
    .plan-m .plan-m-container .plan1-pre-pic {
      background-image: url("img/plan1-pre.png"); }
    .plan-m .plan-m-container .plan2-basic-pic {
      background-image: url("img/plan2-basic.png"); }
    .plan-m .plan-m-container .plan2-sta-pic {
      background-image: url("img/plan2-sta.png"); }
    .plan-m .plan-m-container .plan2-pre-pic {
      background-image: url("img/plan2-pre.png"); }
    .plan-m .plan-m-container .plan3-basic-pic {
      background-image: url("img/plan3-basic.png"); }
    .plan-m .plan-m-container .plan3-sta-pic {
      background-image: url("img/plan3-sta.png"); }
    .plan-m .plan-m-container .plan3-pre-pic {
      background-image: url("img/plan3-pre.png"); }
    .plan-m .plan-m-container .plan3-gold-pic {
      background-image: url("img/plan3-gold.png"); }
    .plan-m .plan-m-container .plan3-other-pic {
      background-image: url("img/plan3-other.png"); }
    .plan-m .plan-m-container .plan2 {
      background-color: #FFFFF3; }
    .plan-m .plan-m-container .plan3 {
      background-color: #F3FFF3; }
    .plan-m .plan-m-container .plan4 {
      background-color: #F3FFFF; }
    .plan-m .plan-m-container .plan-foot-p {
      font-size: 18px;
      line-height: 30px;
      margin: 21px 0; }
      @media screen and (min-width: 768px) {
        .plan-m .plan-m-container .plan-foot-p {
          font-size: 24px;
          margin: 45px 0; } }
      @media screen and (min-width: 1280px) {
        .plan-m .plan-m-container .plan-foot-p {
          margin: 65px 0; } }
    .plan-m .plan-m-container .plan-attention {
      font-size: 12px;
      line-height: 20px; }
      @media screen and (min-width: 768px) {
        .plan-m .plan-m-container .plan-attention {
          font-size: 16px;
          line-height: 26px; } }
    .plan-m .plan-m-container .more-button {
      width: 140px;
      height: 34px;
      border-radius: 17px;
      margin: 21px auto 0px;
      background-color: #F8B869;
      width: 170px; }
      @media screen and (min-width: 500px) {
        .plan-m .plan-m-container .more-button {
          width: 200px;
          height: 40px;
          border-radius: 20px;
          margin: 40px auto 0; } }
      @media screen and (min-width: 768px) {
        .plan-m .plan-m-container .more-button {
          width: 240px;
          height: 50px;
          border-radius: 25px;
          margin: 50px auto 0; } }
      .plan-m .plan-m-container .more-button a {
        display: block;
        line-height: 34px;
        text-align: center;
        text-decoration: none;
        color: #ffffff; }
        @media screen and (min-width: 500px) {
          .plan-m .plan-m-container .more-button a {
            line-height: 40px;
            font-size: 18px; } }
        @media screen and (min-width: 768px) {
          .plan-m .plan-m-container .more-button a {
            line-height: 50px;
            font-size: 20px; } }
    .plan-m .plan-m-container .plan4-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; }
      .plan-m .plan-m-container .plan4-container .plan4-each {
        width: 48%;
        margin: 21px 0 0; }
        @media screen and (min-width: 834px) {
          .plan-m .plan-m-container .plan4-container .plan4-each {
            margin: 45px 0 0;
            width: 32%; } }
        .plan-m .plan-m-container .plan4-container .plan4-each .plan4-pic {
          width: 100%;
          height: 150px;
          background-size: cover;
          background-position: center; }
          @media screen and (min-width: 680px) {
            .plan-m .plan-m-container .plan4-container .plan4-each .plan4-pic {
              height: 200px; } }
          @media screen and (min-width: 768px) {
            .plan-m .plan-m-container .plan4-container .plan4-each .plan4-pic {
              height: 250px; } }
        .plan-m .plan-m-container .plan4-container .plan4-each .plan4-1-pic {
          background-image: url("img/plan4-1.png"); }
        .plan-m .plan-m-container .plan4-container .plan4-each .plan4-2-pic {
          background-image: url("img/plan4-2.png"); }
        .plan-m .plan-m-container .plan4-container .plan4-each .plan4-3-pic {
          background-image: url("img/plan4-3.png"); }
        .plan-m .plan-m-container .plan4-container .plan4-each .plan4-4-pic {
          background-image: url("img/plan4-4.png"); }
        .plan-m .plan-m-container .plan4-container .plan4-each .plan4-5-pic {
          background-image: url("img/plan4-5.png"); }
        .plan-m .plan-m-container .plan4-container .plan4-each .plan4-6-pic {
          background-image: url("img/plan4-6.png"); }
        .plan-m .plan-m-container .plan4-container .plan4-each h4 {
          font-size: 18px;
          line-height: 30px;
          height: 60px;
          margin: 21px 0 0;
          font-weight: normal; }
          @media screen and (min-width: 425px) {
            .plan-m .plan-m-container .plan4-container .plan4-each h4 {
              height: 48px; } }
          @media screen and (min-width: 768px) {
            .plan-m .plan-m-container .plan4-container .plan4-each h4 {
              font-size: 22px;
              line-height: 44px;
              height: 48px; } }
        .plan-m .plan-m-container .plan4-container .plan4-each p {
          font-size: 12px;
          line-height: 20px;
          height: 100px; }
          @media screen and (min-width: 768px) {
            .plan-m .plan-m-container .plan4-container .plan4-each p {
              font-size: 16px;
              line-height: 26px; } }

/*# sourceMappingURL=movie-style.css.map */
